/* general settings */
body {
    text-align: center;
}

/* specific for home.php file */

#header_home {
    magin-right: 1vm;
}

#loginButton{
    margin-right: 0px;
}

#questions{

}

.center {
    margin-left: auto;
    margin-right: auto;
}

.camera_controls{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
