/* general settings */
body {
    text-align: center;
}

/* specific for home.php file */

#header_home {
    magin-right: 1vm;
}

#loginButton{
    margin-right: 0px;
}

#questions{

}

/*A center class, to use every wehre */
.center {
    margin-left: auto;
    margin-right: auto;
}

/*Class to style Canvas in Camera.php*/
#canvas {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

/*Class to style the camera controls in Camera.php*/
.camera_controls{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

