/* general settings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    width: 100%;
    height: 100%;
}

/* specific for admin pages */

#currentPage{
    background-color: black;
}

#currentPage:hover{
    background-color: darkblue;
}


.sidebarRemoveLink{
    text-decoration: none;
}

.sidebarItem{
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.sidebarItem:hover{
    background-color: darkblue;
}

.admin_content{
    background-color: white;
    width: 80%;
    position: absolute;
    height: 100vh;
}

.admin_sidebar{
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: gray;
}

/* specific for adminUserData.php file */
.form {
    top: 50%;
    width: 50%;
    height: 50%;
    text-align: center;
    margin: 17% auto auto;
}

.login-table {
    margin: auto;
}

.button {
    width: 170px
}

.center {
    text-align: center
}

span {
    font-weight: bold;
}

.table_users {
    text-align: center;
}

#users, #allWinnerAndPrizeList, #prizeList{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: max-content;
    margin: auto;
    overflow-y: scroll;
    height: 70vh;
    display:block;
}

#users td, #users th, #allWinnerAndPrizeList td, #allWinnerAndPrizeList th, #prizeList td, #prizeList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even), #allWinnerAndPrizeList tr:nth-child(even), #prizeList tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover, #allWinnerAndPrizeList tr:hover {background-color: #ddd;}

#users th, #allWinnerAndPrizeList th, #prizeList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/* specific for home.php file */

.answers{
    color: white;
}

.buttonExample {
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#answer1{
    background-color: red;
}

#answer2{
    background-color: blue;
}

#answer3{
    background-color: green;
}

#answer4{
    background-color: #e6b800;
}

#header_home {
    magin-right: 1vm;
}

#loginButton{
    margin-right: 0;
}

/*Camera.php*/
/*A center class, to use every wehre */
.center {
    z-index: 1;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

/*Class to style Canvas in Camera.php*/
.canvas {
    position: absolute;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.stack-top{
    z-index: 2;
}

/*Class to style the camera controls in Camera.php*/
.camera_controls{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    visibility: hidden;
}

.veryHidden {
    display: none;
}

.containerThanks{
 margin-top: 1vh;
}

.error {
    color: red;
}

